html {
  box-sizing: border-box;
  font-size: 16px;
  background-color: white;
}

*, *:before, *:after {
  box-sizing: inherit;
}

body, h1, h2, h3, h4, h5, h6, p, ol, ul {
  margin: 0;
  padding: 0;
  font-weight: normal;
  background-color: gainsboro
}

ol, ul {
  list-style: none;
}

img {
  max-width: 100%;
  height: auto;
}

.App {
  height: 100vh;
  width: 100%;
}

.flex {
  display: flex;
}

.align-center {
  align-items: center;
}

.justify-center {
  justify-content: center;
}

.autocomplete {
  width: 550px;
  position: relative;
}

.autocomplete input {
  width: 100%;
  height: 40px;
  border-radius: 4px;
  padding: 3px 12px;
  outline: none;
  border: 1px solid gray;
}

.autocomplete input:focus {
  border: 2px solid rgb(212, 75, 75);
}

.result-list {
  background: white;
  border-radius: 4px;
  border: 1px solid gray;
  margin-top: 4px;
  position: absolute;
  width: 100%;
}

.result-item {
  padding: 8px 12px;
  border-bottom: 1px dashed gray;
}

.result-item:last-child {
  border-bottom: none;
}

.shadow-lg {
  box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  -webkit-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
  -moz-box-shadow: rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0) 0 0 0 0, rgba(0, 0, 0, 0.1) 0 10px 15px -3px, rgba(0, 0, 0, 0.05) 0 4px 6px -2px;
}